@font-face {
    font-family: 'myfont';
    src: url('/font/good-times/goodtimesrg.otf') format('opentype');
  }

#developercont{
    background-color: rgb(53, 52, 52);
    height: 100vh;
    width: 100vw;
}

#developerh1{
    margin: 0;
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: 'myfont';
    font-weight: 400;
    padding-top: 30px;
}