@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'myfont';
    src: url('/font/good-times/goodtimesrg.otf') format('opentype');
}

body {
    margin: 0;
    padding: 0;
    background: radial-gradient(ellipse at bottom, #263950 0%, #0a0b0d 100%);
    background-attachment: fixed;
  
}

#eventsContainer {
    
    padding-bottom: 20px;
    position: relative;
    height: auto;
    width: 100vw;
   

    
   


}

#eventHH {
    color:  #a6d3fd;
    margin: 0;
    text-align: center;

    font-weight: normal;
    font-family: "Poppins", sans-serif;
    padding-top: 90px;
    padding-bottom: 30px;

    font-size: 50px;
    font-family: 'myfont';
    font-weight: 400;
}

#equinox {
    color: white;
    font-size: 20px;
    display: grid;
    grid-template-columns: 7fr 4fr;
    border: 1px solid rgb(75, 239, 248);

    height: 250px;
    margin-left: 20px;
    margin-right: 20px;

    border-radius: 10px;
}

#equinox-left-head {
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    color: rgb(0, 106, 255);
    font-weight: bold;
}

#equinox-left {
    padding: 20px;
}

#equinox-left-desc {
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}

#equinox-right {

    /* clip-path: polygon(50% 0%, 100% 0, 61% 48%, 100% 99%, 100% 100%, 32% 100%, 0 100%, 0 47%, 0 0);  left*/
    clip-path: polygon(50% 0%, 100% 0, 100% 43%, 100% 80%, 100% 100%, 32% 100%, 0 100%, 29% 48%, 0 0);
    background-image: url(/assets/2555355.jpg);

    background-size: cover;
    height: 250px;
}

#equinoxevents {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-around;
    margin-top: 30px;
}

#eventbox {
    padding: 0;
    box-sizing: border-box;
    margin: 0;

    height: 260px;
    width: 220px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-size: cover;
    transition: all 1s ease;



}

#eventbox:hover {
    background-image: url(/assets/shadow.svg);
}

#frameup {
    max-width: 100%;
    height: auto;

    position: absolute;
    top: 0;
    left: 0;

}

#framedown {
    max-width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;

}

#poster {
    width: 190px;
}

#eventname {
    color: white;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}






/* --------------responsive css for mobile ---------------- */

/* ----------setting media query for mobile--------------- */
@media only screen and (max-width: 600px) {

    #equinox {
        color: white;
        font-size: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        border: 1px solid rgb(75, 239, 248);
    
        height: 250px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 40px;
    
        border-radius: 10px;
    }
    #eventHH {
      
    
        font-size: 40px;
        
    }
    #equinox-left-head {
        font-size: 30px;
        font-family: "Poppins", sans-serif;
        color: rgb(27, 148, 102);
        font-weight: bold;
    }

    #equinox-left-desc {
        font-size:12px;
        font-family: "Poppins", sans-serif;
    }

    #equinox-right {

        /* clip-path: polygon(50% 0%, 100% 0, 61% 48%, 100% 99%, 100% 100%, 32% 100%, 0 100%, 0 47%, 0 0);  left*/
        clip-path: polygon(50% 0%, 100% 0, 100% 43%, 100% 80%, 100% 100%, 32% 100%, 0 100%, 29% 48%, 0 0);
        background-image: url(/assets/2555355.jpg);
    
        background-size: cover;
        height: 250px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    #equinoxevents {
        display: grid;
        grid-template-columns: repeat(2, auto);
        justify-content: space-around;
        margin-top: 30px;
    }

    #eventbox {
        padding: 0;
        box-sizing: border-box;
        margin: 0;
    
        height: 180px;
        width: 160px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        background-size: cover;
        transition: all 1s ease;
    
    
    
    }
    #poster {
        width: 140px;
    }

    #eventname {
        color: white;
        text-align: center;
        margin-top: 8px;
        font-size: 15px;
        font-family: "Poppins", sans-serif;
    }
    
    
    
}





/*     css media queries for tablet */


@media (min-width: 768px) and (max-width: 1024px){

    #equinoxevents {
        display: grid;
        grid-template-columns: repeat(3, auto);
        justify-content: space-around;
        margin-top: 30px;
        grid-row-gap: 30px;
    }
}




/*------------------Media query for low reso tablet-------------- */


@media (min-width: 481px) and (max-width: 767px){

    #equinoxevents {
        display: grid;
        grid-template-columns: repeat(3, auto);
        justify-content: space-around;
        margin-top: 30px;
        grid-row-gap: 30px;
    }

    #poster {
        width: 180px;
    }
    #eventbox {
        padding: 0;
        box-sizing: border-box;
        margin: 0;
    
        height: 230px;
        width: 200px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        background-size: cover;
        transition: all 1s ease;
    
    
    
    }

    #equinox-left-desc {
        font-size:15px;
        font-family: "Poppins", sans-serif;
    }

    #equinox-left-head {
        font-size: 32px;
        font-family: "Poppins", sans-serif;
        color: rgb(27, 148, 102);
        font-weight: bold;
    }
}