
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@font-face {
    font-family: 'myfont';
    src: url('/font/good-times/goodtimesrg.otf') format('opentype');
  }


#eventscont{
    /* background: radial-gradient(ellipse at bottom, #1b2735 0%,#090a0f 100%); */
    padding-bottom: 40px;
    width: 100vw;
    position: relative;
}
#eventh1{
    margin: 0;
    color: #a6d3fd;
    text-align: center;
    font-size: 50px;
    padding-top: 20px;
    margin-bottom: 20px;
    font-family: 'myfont';
    font-weight: 400;
}

#eventrow1{
    display: grid;
    grid-template-columns: repeat(4,max-content);
    margin-bottom: 40px;
    justify-content: space-around
}

#iconwrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#iconwrap:hover{
    filter: drop-shadow(10px 10px 10px rgb(0, 183, 255) );
}
#eventicon{
  position: relative;
  height: 170px;
 
  width: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#eventicon:hover #frameicon {
    transform: rotate(45deg) scale(1.11); /* Rotate frameicon on hover */
    
}

#eventicon1{
    height: 60px;
    position: absolute;
    
}
#frameicon{
        height: 170px;
        position: absolute;
        transition: all 0.3s ease; 
}
.eventnumber{
    color: white;
    font-family: "Poppins", sans-serif;
    margin-top: 5px;
    font-size: 20px;
}

#eventname{
    color: white;
    font-weight: bold;
    font-size: 22px;
    font-family: "Poppins", sans-serif;
}

#eventText{
    
    color: white;
    width: 70%;
    font-size: 17px;
    font-family: "Poppins", sans-serif;
    border: 2px solid rgb(4, 144, 209);
    padding: 30px;
    border-radius: 10px;
    margin: 0 auto;

    box-shadow: inset 5px 1px 5px 1px rgb(4, 144, 209);
    
}

#eventh1,#eventrow1,#eventText{
    visibility: hidden;
    opacity: 0;
    transform: translateY(100px);
    transition: transform 1s, opacity 1s;
}

#eventh1.fade-in{
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
}

#eventrow1.fade-in{
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 300ms;
}
#eventText.fade-in{
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
   
}



/*   ---------responsive    code -------------------- */


/* ----------setting media query for mobile--------------- */
@media only screen and (max-width: 600px){
    #eventh1{
    
        font-size: 40px;
        padding-top: 20px;
        margin-bottom: 20px;
       
    }
    
    #eventrow1{
        display: grid;
        grid-template-columns: repeat(2,max-content);
        margin-bottom: 40px;
        justify-content: space-around
    }

    #eventicon1{
        height: 50px;
        position: absolute;
        
    }
    #frameicon{
            height: 150px;
            position: absolute;
            transition: all 0.3s ease; 
    }

}