@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
/* Homepage */

@font-face {
    font-family: 'myfont';
    src: url('/font/good-times/goodtimesrg.otf') format('opentype');
}

* {
    cursor: url("/assets/launch.png") 4 12, auto;

}

html {
    scroll-behavior: smooth;
}


body {

    margin: 0;
    padding: 0;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);


}




/* loader */
#loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    background-color: black;
    overflow: hidden;

}

#webpage {
    display: none;
    overflow: hidden;
}

#loader img {
    /* border: 1px solid white; */
    width: 390px;

}









#homepage {

    /* background: radial-gradient(ellipse at bottom, #1b2735 0%,#090a0f 100%); */

    height: 100vh;
    width: 100vw;
    position: relative;

    overflow: hidden;



    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 10px 50px 10px rgb(51, 124, 169);


}




#hometext {



    position: absolute;
    /* original 60px */
    top: -150px;

    font-size: 100px;
    margin: 0;
    color: transparent;
    -webkit-text-stroke: 1px white;
    font-weight: bold;
    font-family: "Poppins", sans-serif;


}

#desc {

    font-family: "Poppins", sans-serif;
    width: 70%;
    text-align: center;
    color: white;
    position: absolute;
    /* top: 190px; */
    top: -100px;
    margin: 0 auto;
    font-size: 18px;
    opacity: 0;
}

#date {
    color: yellow;
    position: absolute;
    top: 280px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    opacity: 0;
    border: 1px solid yellow;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}

#earth {
    /* original 1500px */
    width: 500px;

    /* width: 700px; */
    position: absolute;
    /* in the js code */
    bottom: 700px;

    filter: drop-shadow(-10px -10px 70px rgba(62, 158, 247, 0.819));

    transition: all 5s cubic-bezier(0.3, 0.4, 0.5, 1);
    /* bottom: -1000px; */

    animation: rotateEarth 70s linear infinite;
    z-index: 5;



}


@keyframes rotateEarth {
    from {
        transform: rotate(0deg);
        /* Start rotation from 0 degrees */
    }

    to {
        transform: rotate(360deg);
        /* Rotate to 360 degrees */
    }
}


/* .mobilegame{
    display: none;
} */







/* Navigation section */




#navigationh1 {
    font-size: 50px;
    text-align: center;
    color: #a6d3fd;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'myfont';
    font-weight: 400;

}

#navigationh1 {
    visibility: hidden;
    opacity: 0;
    transform: translateY(100px);
    transition: transform 1s, opacity 1s;
}

#navigationh1.fade-in {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);

}

#navigation-wrap {
    height: 100%;
    width: 100vw;
    /* box-shadow: 0 -10px 50px 10px rgb(51, 124, 169) ; */
    position: relative;
    /* border: 1px solid white; */
    /* background: radial-gradient(ellipse at bottom, #1b2735 0%,#090a0f 100%); */
}


@keyframes rotateEarth {
    from {
        transform: rotate(0deg);
        /* Start rotation from 0 degrees */
    }

    to {
        transform: rotate(360deg);
        /* Rotate to 360 degrees */
    }
}





#navigation {



    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    grid-column-gap: 70px;
    margin-top: 50px;
    padding-bottom: 50px;
}

#navigation {
    visibility: hidden;
    opacity: 0;
    transform: translateY(100px);
    transition: transform 1s, opacity 1s;
}

#navigation.fade-in {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 100ms;

}

.navItm {
    /* border: 1px solid black; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

}

#sunicon {
    animation: rotateSun 10s linear infinite;
}

@keyframes rotateSun {
    from {
        transform: rotate(0deg);
        /* Start rotation from 0 degrees */
    }

    to {
        transform: rotate(360deg);
        /* Rotate to 360 degrees */
    }
}

.navItm img {
    height: 100px;
    width: 100px;
    margin: 0;
    /* border: 1px solid black; */
    transition: all .2s ease;


}

.navItm img:hover {
    transform: scale(1.2);
}

#navItm-name {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.nav-top {
    top: -10px;
    position: absolute;
    font-family: "Poppins", sans-serif;

}

.nav-bottom {
    bottom: -10px;
    position: absolute;
    font-family: "Poppins", sans-serif;

}

#navwrapouter {
    /* border: 2px solid red; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navWrap {

    /* border: 1px solid black; */
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: repeat(3, auto);



}

#roundborderbig {
    position: absolute;
    height: 100%;
    animation: rotateEarth 70s linear infinite;
}

#roundbordersmall {
    position: absolute;
    height: 200px;
}

#nav-left,
#nav-right {
    width: auto;
}



#nav-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* border: 1px solid white;
    border-radius: 10px;
    padding: 10px; */


}


#right-nav {
    display: flex;
    border: 1px solid white;
    border-radius: 50px;
    background-color: rgb(79, 89, 92);
    box-shadow: rgba(12, 219, 230, 0.35) 0px 5px 15px;
}

#navigateh2 {
    color: white;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
}

#right-nav-wrap {
    /* border: 1px solid white; */
}

#nav-content {
    width: 200px;
    font-size: 25px;
    color: white;
    line-height: 60px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    backdrop-filter: blur(5px);
}

#left-nav-arrow i,
#right-nav-arrow i {
    font-size: 40px;
    color: white;
}

#left-nav-arrow,
#right-nav-arrow {
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px;
    box-shadow: rgba(240, 236, 236, 0.847) 0px 3px 8px;
    background-color: rgb(90, 90, 248);
}

/* #left-nav-arrow:hover,
#right-nav-arrow:hover {
    cursor: pointer;
} */

/* #left-nav-arrow i:hover {
    height: 52px;
}

#right-nav-arrow img:hover {
    height: 52px;
} */

#nav-right-button {
    margin-top: 30px;
    background-color: rgb(90, 90, 248);
    padding: 6px;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    border: 2px solid white;
    color: white;
    border-radius: 5px;
    user-select: none;
}

#nav-right-button:hover {

    /* cursor: pointer; */
    box-shadow: rgba(255, 252, 252, 0.726) 0px 5px 15px;
}





/* -------------------------------srms trust    ----------------------------------------- */

#srmstrust {
    /* background: radial-gradient(ellipse at bottom, #1b2735 0%,#090a0f 100%); */
    width: 100vw;
    position: relative;




}


#trusthead {
    font-size: 50px;
    color: #a6d3fd;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;

    font-family: 'myfont';
    font-weight: 400;
}

#trustdesc {
    width: 80%;
    font-size: 20px;
    color: white;
    text-align: left;
    margin: 0 auto;
    padding-top: 20px;
    font-family: "Poppins", sans-serif;
    border: 1px solid rgb(239, 209, 12);
    border-radius: 10px;
    padding: 30px;
    box-shadow: inset 5px 1px 5px 1px rgb(239, 209, 12);


}





#chairmanCont {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    justify-content: space-around;
    margin-top: 80px;
}




.landing-speaker-card {
    width: 180px;
    height: 290px;
    /* margin-left: 3vw;
    margin-right: 3vw; */
}

.landing-speaker-card:hover .speaker-card-img {
    transform: scale(1.2);
}

.landing-speaker-card:hover {
    filter: drop-shadow(10px 10px 20px#f0b537);

}

.landing-speaker-card:hover .speaker-card,
.landing-speaker-card:hover .speaker-card-position {
    background-color: var(--bg-color1);

}

.speaker-card-container {
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #f0b537;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all .3s ease-in-out;
}

.speaker-shape {
    /* -webkit-clip-path: polygon(0% 4%, 6% 0%, 97.5% 0%, 97.5% 10%, 100% 12%, 100% 88%, 85% 100%, 15% 100%, 0% 88%); */
    clip-path: polygon(0% 4%, 6% 0%, 94% 0%, 100% 4%, 100% 12%, 100% 88%, 85% 100%, 15% 100%, 0% 88%);
}

.speaker-card {
    --bg-color: #35261b;
    --bg-color1: #67522a;
    background-color: var(--bg-color);
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border-radius: 3px;
    transition: all .3s ease-in-out;
}

.speaker-card-name {
    color: var(--Color-Base-Gold-Yellow, #f0b537);

    font-size: 1.1rem;

    font-weight: bold;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;

}

#dean-name {
    font-size: 15px;
}

.speaker-card-image-container {
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0b537;
}

.speaker-shape-2 {
    -webkit-clip-path: polygon(0% 3%, 41% 3%, 44% 0%, 56% 0%, 59% 3%, 100% 3%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 3%, 41% 3%, 44% 0%, 56% 0%, 59% 3%, 100% 3%, 100% 100%, 0% 100%);
}

.speaker-card-image {
    width: 100%;
    height: calc(100% - 4px);
    position: relative;
    transition: all .3s ease-in-out;
}

.speaker-card-position-container {
    width: 90%;
    height: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0b537;
    position: absolute;
    bottom: 3%;
    left: 5%;
    z-index: 2;
}

.speaker-shape-3 {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 45%, 87% 100%, 13% 100%, 0% 45%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 45%, 87% 100%, 13% 100%, 0% 45%);
}

.speaker-card-position {
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    color: #fff;
    text-align: center;
    font-family: Bender;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-in-out;
}

.speaker-card-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    -o-object-fit: cover;
    object-fit: cover;
    transition: all .3s ease-out;
}

.speaker-card-position-top {
    font-family: "Poppins", sans-serif;
}


/* trust faculty */
#facultyh1 {
    color: #a6d3fd;
    text-align: center;
    font-size: 40px;
    margin-top: 100px;
    margin-bottom: 90px;
    font-family: 'myfont';
    font-weight: 400;
}

#facultycont {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(6, max-content);
    justify-content: space-around;
    padding-bottom: 60px;

}

#facultycont .landing-speaker-card {
    width: 160px;
    height: 250px;

    margin-left: 0;
    margin-right: 0;

}

#trusthead,
#trustdesc {
    visibility: hidden;
    opacity: 0;
    transform: translateY(100px);
    transition: transform 1s, opacity 1s;
}

#leftcard1,
#leftcard2 {
    visibility: hidden;
    opacity: 0;
    transform: translateY(100px);
    transition: transform 1s, opacity 1s;
}

#leftcard3,
#leftcard4,
#leftcard5 {
    visibility: hidden;
    opacity: 0;
    transform: translateY(100px);
    transition: transform 1s, opacity 1s;
}

#leftcard1.fade-left {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 400ms;
}

#leftcard2.fade-left {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
}

#leftcard3.fade-left {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 700ms;
}

#leftcard4.fade-left {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 500ms;
}

#leftcard5.fade-left {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 300ms;
}



#rightcard1,
#rightcard2 {
    visibility: hidden;
    opacity: 0;
    transform: translateY(100px);
    transition: transform 1s, opacity 1s;
}

#rightcard3,
#rightcard4,
#rightcard5 {
    visibility: hidden;
    opacity: 0;
    transform: translateY(100px);
    transition: transform 1s, opacity 1s;
}

#rightcard1.fade-right {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);

}

#rightcard2.fade-right {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 400ms;
}

#rightcard3.fade-right {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 300ms;
}

#rightcard4.fade-right {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 500ms;
}

#rightcard5.fade-right {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 700ms;
}


#trusthead.fade-in {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
}

#trustdesc.fade-in {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 100ms;
}

#facultyh1 {
    visibility: hidden;
    opacity: 0;
    transform: translateY(100px);
    transition: transform 1s, opacity 1s;
}

#facultyh1.fade-in {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);

}





/* --------------------------------tyro club ----------------------------------- */


#tyroclub {
    /* background-color: rgb(25, 25, 25); */
    width: 100vw;
    position: relative;

}


#tyrohead {
    font-size: 50px;
    color: #a6d3fd;
    text-align: center;
    padding-top: 60px;
    margin-bottom: 60px;
    font-family: 'myfont';
    font-weight: 400;
}

#tyrohead {
    visibility: hidden;
    opacity: 0;
    transform: translateY(100px);
    transition: transform 1s, opacity 1s;
}

#tyrohead.fade-in {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);


}



#tyrodesc {
    font-size: 20px;
    color: white;
    width: 80%;
    text-align: left;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
    border: 1px solid rgb(131, 131, 255);
    border-radius: 10px;
    padding: 30px;

    box-shadow: inset 5px 1px 5px 1px rgb(131, 131, 255);

}

#tyrodesc {
    visibility: hidden;
    opacity: 0;
    transform: translateY(100px);
    transition: transform 1s, opacity 1s;
}

#tyrodesc.fade-in {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 100ms;

}

.tyrophoto {
    position: relative;
    /* border: 1px solid white; */
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tyrodesc {
    color: white;
    font-family: "Poppins", sans-serif;

    font-size: 15px;
}

.tyrocont {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.tyrocont:hover {
    filter: drop-shadow(10px 10px 10px rgb(5, 183, 248));
}

.frame {
    position: absolute;
    z-index: 1;
    transition: height 0.2s ease;
}

.frame:hover {
    height: 210px;
}

.tyroimg {
    height: 120px;

    border-radius: 50%;
    position: absolute;
}

.tyroname {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;
}


#tyromembers {
    margin-top: 40px;
}

#row1 {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    margin-top: 80px;
    justify-content: space-around;

}

#row2 {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    margin-top: 40px;
    justify-content: space-around;
}

#row3 {
    display: grid;
    grid-template-columns: repeat(6, max-content);
    margin-top: 40px;
    justify-content: space-around;
    padding-bottom: 40px;
}





/* ---------------map  section------------------------ */

.map-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#map-head {
    font-size: 50px;
    color: #a6d3fd;
    margin-top: 70px;

    font-family: "myfont";
}

.map-head-1 {
    font-size: 25px;
    color: white;
    margin-top: 20px;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.map-head-2 {
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    color: white;
    margin-top: 15px;
}

.map {
    margin-top: 20px;
    width: 90%;
    margin-bottom: 50px;
}

.map iframe {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}