
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Homepage */



body {
    margin: 0;
    padding: 0;
}

#homepage {
    
    background-color: black;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;



    display: flex;
    align-items: center;
    justify-content: center;
}



#hometext {

     font-family: "Poppins", sans-serif;
    
    position: absolute;
    top: 50px;

    font-size: 100px;
    margin: 0;
    color: transparent;
    -webkit-text-stroke: 1px white;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}

#desc {
    font-family: "Poppins", sans-serif;
    width: 70%;
    text-align: center;
    color: white;
    position: absolute;
    top: 170px;
    margin: 0 auto;
    font-size: 20px;
}

#earth {
    /* width: 1500px; */
    width: 700px;
    position: absolute;
    bottom: 700px;

    filter: drop-shadow(-10px -10px 70px rgba(62, 158, 247, 0.819));

    transition: all 5s cubic-bezier(0.3, 0.4, 0.5, 1);
    /* bottom: -1000px; */

    animation: rotateEarth 70s linear infinite;



}


@keyframes rotateEarth {
    from {
        transform: rotate(0deg);
        /* Start rotation from 0 degrees */
    }

    to {
        transform: rotate(360deg);
        /* Rotate to 360 degrees */
    }
}





/* Navigation */


#navigation-wrap {
    height: 100vh;
    width: 100vw;
    background-color: azure;
}


#navigation-wrap h1 {
    text-align: center;
    margin: 0;
}

#navigation {



    display: flex;
    justify-content: center;
}

.navItm {
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;





    position: relative;

}

.navItm img {
    height: 100px;
    width: 100px;
    margin: 0;
    border: 1px solid black;
    transition: all .2s ease;


}

.navItm img:hover {
    transform: scale(1.2);
}

#navItm-name {
    font-size: 20px;
    font-weight: bold;
}

.nav-top {
    top: 0px;
    position: absolute;

}

.nav-bottom {
    bottom: 0px;
    position: absolute;

}

#navWrap {

    border: 1px solid black;
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: repeat(3, auto);
}

#nav-left,
#nav-right {
    width: auto;
}



#nav-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


#right-nav {
    display: flex;
}

#nav-content {
    width: 150px;
    font-size: 40px;
}

#left-nav-arrow img,
#right-nav-arrow img {
    height: 50px;
}

#left-nav-arrow img:hover {
    height: 52px;
}

#right-nav-arrow img:hover {
    height: 52px;
}

#nav-right-button {
    background-color: rgb(153, 153, 199);
    padding: 10px;
}

#nav-right-button:hover {
    cursor: pointer;
}





/* -------------------------------srms trust    ----------------------------------------- */

#srmstrust {
    background-color: grey;
}


#trusthead {
    font-size: 60px;
    color: white;
}

#trustdesc {
    font-size: 20px;
    color: white;
}






/* --------------------------------tyro club ----------------------------------- */


#tyroclub {
    background-color: rgb(25, 25, 25);
}


#tyrohead {
    font-size: 60px;
    color: white;
}




#tyrodesc {
    font-size: 20px;
    color: white;

}

.tyrophoto {
    position: relative;
    border: 1px solid white;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tyrocont {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.frame {
    position: absolute;
    z-index: 1;
    transition: height 0.2s ease;
}

.frame:hover{
    height: 210px;
}

.tyroimg {
    height: 120px;

    border-radius: 50%;
    position: absolute;
}

.tyroname {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.tyrodesc {
    color: white;
    font-family: "Poppins", sans-serif;

    font-size: 15px;
}

#row1 {
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
}

#row2 {
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
}
#row3 {
    display: flex;
    margin-top: 20px;
    padding-bottom: 50px;
    justify-content: space-around;
    flex-wrap: wrap;
}