<?xml version="1.0" encoding="UTF-8"?>

<?xml-stylesheet href="/events.xsl" type="text/xsl"?>


<collection xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="events.xsd">


    <club NAME="Equinox Club">
        <description>
            Equinox club is a club of computer science and engineering. This club hosts various
            activities.
        </description>

        <background>events/coding.webp</background>

        <event>
            <name>App Craft Challenge</name>
            <image>events/app.png</image>
        </event>

        <event>
            <name>DB Hunt</name>
            <image>events/db hunt.jpg</image>
        </event>

        <event>
            <name>Game Jam</name>
            <image>events/game.png</image>
        </event>

        <event>
            <name>Debug Expert</name>
            <image>events/debug.jpg</image>
        </event>

    </club>


    <club NAME="Illuminati Club">
        <description>
            Robotics club is a club of mechanical engineering. This club hosts various
            activities.
        </description>

        <background>events/illuminati.webp</background>

        <event>
            <name>Code Quest</name>
            <image>events/bytebattle.jpg</image>
        </event>

        <event>
            <name>Byte Battle</name>
            <image>events/codequest.webp</image>
        </event>

        <event>
            <name>Clone the Web</name>
            <image>events/cloneweb.avif</image>
        </event>

        <event>
            <name>Technical Quiz</name>
            <image>events/techquiz.jpg</image>
        </event>

    </club>

    <club NAME="Media Relations Club">
        <description>
            Robotics club is a club of mechanical engineering. This club hosts various
            activities.
        </description>

        <background>events/media.jpg</background>

        <event>
            <name>Shutter Showcase</name>
            <image>events/photo.webp</image>
        </event>

        <event>
            <name>CineMagic</name>
            <image>events/video.avif</image>
        </event>

        <event>
            <name>Design Dynamo</name>
            <image>events/graphic.avif</image>
        </event>

     

    </club>
    <club NAME="Pharmquimica Club">
        <description>
            Robotics club is a club of mechanical engineering. This club hosts various
            activities.
        </description>

        <background>events/pharmaposter.avif</background>

        <event>
            <name>Aavishkarak</name>
            <image>events/aviskar.jpeg</image>
        </event>

        <event>
            <name>Pharma Desk</name>
            <image>events/pharma.webp</image>
        </event>

        <event>
            <name>Pharma Scout</name>
            <image>events/disease.jpg</image>
        </event>

        <event>
            <name>Pharma Draw</name>
            <image>events/tissue.jpg</image>
        </event>

     

    </club>



    <club NAME="Management Club">
        <description>
            Robotics club is a club of mechanical engineering. This club hosts various
            activities.
        </description>

        <background>events/manage.jpg</background>

        <event>
            <name>Ad Mad</name>
            <image>events/admad.webp</image>
        </event>

        <event>
            <name>Business Quiz</name>
            <image>events/businessquiz.webp</image>
        </event>

        <event>
            <name>Business Plan</name>
            <image>events/businessplan.jpg</image>
        </event>

        <!-- <event>
            <name>C Expert</name>
            <image>assets/digital_enigma_1.png</image>
        </event> -->

    </club>

    <club NAME="LAN Games">
        <description>
            Robotics club is a club of mechanical engineering. This club hosts various
            activities.
        </description>

        <background>events/gaming.jpg</background>

        <event>
            <name>BGMI</name>
            <image>events/bgmi.jpg</image>
        </event>

        <event>
            <name>Mini Militia</name>
            <image>events/mini.avif</image>
        </event>

    

    </club>

</collection>